@supports(--css: variables) {

  :root {
    --background-color: #E7E7E7;
    --left-gradient-color: #FFA55E;
    --right-gradient-color: #FFF5B9;
    --font-headers-color: #FFA555;
    --font-text-color: #464646;
    --font-text-contrast-color: #FFA555;
    --left-navbar-gradient-color: #386796;
    --right-navbar-gradient-color: #61BAF7;
    --footer-background-color: #4BBAC9;
  }

  [dark-theme="on"] {
    --background-color: #1E1E1E;
    --left-gradient-color: #386796;
    --right-gradient-color: #61BAF7;
    --font-headers-color: #FFA555;
    --font-text-color: #E7E7E7;
    --font-text-contrast-color: #FFA555;
    --left-navbar-gradient-color: #386796;
    --right-navbar-gradient-color: #61BAF7;
    --footer-background-color: #4BBAC9;
  }
}
