@supports (--css: variables) {
  :root {
    --background-color: #e5e5e5;
    --left-gradient-color: #ffa55e;
    --right-gradient-color: #fff5b9;
    --font-headers-color: #ffa555;
    --font-text-color: #464646;
    --font-text-contrast-color: #ffa555;
    --left-navbar-gradient-color: #386796;
    --right-navbar-gradient-color: #61baf7;
    --footer-background-color: #4bbac9;
    // Theming Bootstrap requires manual change of _custom.scss
    --primary: #1680A5;
    --success: #94e576;
    --warning: #ffa55e;
    --danger: #f54a4a;
    --dark-grey: #454545;
    // Particules colors
    --bleu-particules: #1680A5;
    --accent-particules: #194561;
    --example1: #454545;
    --example2: #6A6A6A;
    --example3: #959494;
    --example4: #959494;
    --example5: #D7D5D5;

  }

  [dark-theme="on"] {
    --background-color: #1e1e1e;
    --left-gradient-color: #386796;
    --right-gradient-color: #61baf7;
    --font-headers-color: #ffa555;
    --font-text-color: #e7e7e7;
    --font-text-contrast-color: #ffa555;
    --left-navbar-gradient-color: #386796;
    --right-navbar-gradient-color: #61baf7;
    --footer-background-color: #4bbac9;
  }
}
