@import "vars/_colors.scss";

// https://bootstrap-vue.js.org/docs/reference/theming/
//https://getbootstrap.com/docs/4.4/getting-started/theming/
$theme-colors: (
  "primary": #4b8ac9,
  "success": #94e576,
  "warning": #ffa55e,
  "danger": #f54a4a
);

@import "~/node_modules/bootstrap/scss/bootstrap.scss";
@import "~/node_modules/bootstrap-vue/src/index.scss";

@supports (--css: variables) {
  :root {
    // add Barlow as first font
    --font-family-sans-serif: "Barlow", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --headings-font-family: "Barlow", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    @each $variant, $color in $grays {
      --gray-#{$variant}: #{$color};
    }
  }
}
