.ant-drawer {
  z-index: 9999;
}
.card-columns {
  column-count: 1;
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
}

// LEAFLET
.wms-legend {
  @extend .rounded;
}
.leaflet-control-zoom {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}
